*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}
body{
    background-color: aqua;

}
.wrapper{
    width: 400px;
    border: 1px solid white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.container{
    width: 100%;
    background-color: rgb(112, 211, 211);
    padding: 60px 40px;
    box-shadow: 0 20px 65px;
    position: relative;
    border-radius: 8px;
    text-align: center;
}
.container:after{
    content: "";
    position: absolute;
    width: 80%;
    height: 120%;
    background-color: aliceblue;
    z-index: -1;
    top: -10%;
    left: 10%;
}
.container p{
    color: black;
    line-height: 2;
    font-size: 20px;

}
.container h3{
    color: black;
    margin: 20px 0 60px 0;
    font-weight: 600;
    text-transform: capitalize;
}
.container button{
    background-color: black;
    border: none;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight:  600;
    color: aliceblue;
    cursor: pointer;
}